<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>KeanuCam: Videos</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">KeanuCam</a>
            <img class="navbar-brand" src="/static/logo.png" alt="" width="50" height="50">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/images">Images</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/videos">Videos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                  </li>
              </ul>
            </div>
          </nav>
          <div class="container" id="bodyContainer">
            <br>
            <div class="list-group">
              <a class="list-group-item list-group-item-success">
                Videos: {{parent}}
              </a>
              {% for video in videos %}
              <a href="/static/videos{{parent}}/{{video}}" class="list-group-item list-group-item-action">{{video}}</a>
              {% endfor %}
            </div>
          </div>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>